<div class="container">
  <div class="header">
    <img class="header__img" src="/assets/images/pikachu.svg" alt="/assets//images/pikachu.png" />
    <h1 class="header__title">Notion Pokédex</h1>
  </div>
  <div class="block">
    <div>
      This complete Pokédex was generated automatically by pulling data from
      <a href="https://pokeapi.co/"><span class="block__link">PokéAPI</span></a> into Notion using the
      <a href="https://developers.notion.com/reference/intro"><span class="block__link">Notion API</span></a>.</div>
    <div  class="block__link--mt">
      Created and copy by <a href="https://profile-dl.vercel.app/"><span class="block__link">Duyen Lan</span></a>
      | <a href="https://thomasjfrank.com/fundamentals/"><span class="block__link">Notion Basics</span></a>
      | <a href="https://thomasjfrank.com/notion-api-crash-course/"><span class="block__link">Learn the Notion API</span></a>
      | <a href="https://thomasjfrank.com/templates/"><span class="block__link">Templates</span></a></div>
  </div>
  <router-outlet></router-outlet>
</div>